*{
    box-sizing: border-box;
}

.users-container{
    width: 100vw;
    display: flex;
    justify-content: center;
    margin-top: 10rem;
}

table{
    border-spacing: 0vw;
    border: 0.1rem solid black;
    border-radius: 1rem;
}

th, td{
    padding: 0.1rem;
    text-align: center;
}

td{
    border-top: 0.1rem solid black;
    border-right: 0.1rem solid black;
}
th{
    border-right: 0.1rem solid black;
}

td:last-child, th:last-child{
    border-right: none;
}
td, th{
    padding: 1rem;
}
