table{
    margin: 0 auto;
    margin-top: 5%;
    width: auto;
    text-align: center;
    background-color: white;
    font-family: 'Inter', sans-serif;
    border: black 1px solid;
}

table button{
    margin-left: 10%;
    margin-right: 10%;
}
table input{
}
table label:hover{
    cursor:text;
}
table button:hover[type="submit"]{
    cursor: pointer;
    color: green;
    background-color: white;
}
table button:hover[type="reset"]{
    cursor: pointer;
    color: orange;
    background-color: black;
}
table input:hover{
    cursor: text;
}
table td,
table tr, 
table th{
    padding: 2vw;
    border: 1px black solid;
}
