form{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: var(--spacing-md) var(--spacing-lg);
}


table{

    border: var(--color-header-active) 1px solid;
    border-radius: 1.5rem;
    background-color: var(--color-background-2);;
    color: var(--color-dark-writing);
    font-size: 1.5rem;
}



label{
    width: 30%;
}
input{
    width: 70%;
}



table label:hover{
    cursor:text;
}

table input:hover{
    cursor: text;
}


table input{
    width: 100%;
    height: 2rem;
    border: darkred 0.06rem solid;
    border-radius: 1.5rem;
    font-size: 1rem;
    text-align: center;

}

table input:focus{
    outline: none;
}

table input:valid{
    border: limegreen 0.06rem solid;
}

table button{
    color: var(--color-dark-writing);
    text-align: center;
    font-size: 1.3rem;
    border-radius: 1rem 0.1rem;
    background-color: var(--color-light-writing);
    padding: 0.4rem 0.8rem;
    border: 0.1rem var(--color-dark-writing) solid;
}


td button{
    margin: 0 2rem;
}

table button:hover[type="submit"]{
    cursor: pointer;
    background-color: var(--color-submit);
    border: 0.1rem var(--color-submit) solid;
}


table button:hover[type="reset"]{
    cursor: pointer;
    background-color: var(--color-reset);
    border: 0.1rem var(--color-reset) solid;

}


button:active{
    transform: scale(0.9);
}

table td, table tr, table th{
    padding: 1rem 1rem;
}

td{
    border-top: white 0.1rem solid;
}

form a{
    color: var(--color-blue);
    text-decoration: underline 0.1rem;
}
