form{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 12rem;
}


table{

    border: var(--color-header-active) 1px solid;
    border-radius: 3vmin;
    background-color: var(--color-background-2);;
    color: var(--color-dark-writing);
    font-size: 3vmin;
}



table label{
    width: 30vmin;
}
input{
    width: 70vmin;
}



table label:hover{
    cursor:text;
}

table input:hover{
    cursor: text;
}


table input{
    width: 100%;
    height: 5vmin;
    border: darkred 0.06vmin solid;
    border-radius: 1.5vmin;
    font-size: 3vmin;
    text-align: center;

}

table input:focus{
    outline: none;
}

table input:valid{
    border: limegreen 0.06vmin solid;
}

table button{
    color: var(--color-dark-writing);
    text-align: center;
    font-size: 3vmin;
    border-radius: 1vmin 0.1vmin;
    background-color: var(--color-light-writing);
    padding: 0.4vmin 0.8vmin;
    border: 0.1vmin var(--color-dark-writing) solid;
    cursor: pointer;
}


td button{
    margin: 0 2vmin;
}

table button:hover[type="submit"]{
    background-color: var(--color-submit);
    border: 0.1vmin var(--color-submit) solid;
}


table button:hover[type="reset"]{
    background-color: var(--color-reset);
    border: 0.1vmin var(--color-reset) solid;
}


button:active{
    transform: scale(0.9);
}

table td, table tr, table th{
    padding: 1vmin 1vmin;
}

td{
    border-top: white 0.1vmin solid;
}

form a{
    color: var(--color-header-active);
    text-decoration: underline 0.1vmin;
}
