
.contact-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--color-background-2);
    border-radius: 3rem;
    margin: 5rem 30rem;
    padding: 2rem 0;
}

h1 {
    text-align: center;
}

.information {
    display: grid;
    flex-direction: column;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    gap: 1rem;
    text-align: center;
    width: 30%;
}

.information > img {
    width: 2.5rem;
}

a {
    text-decoration: none;
    color: black;
}



