#destination{
    width: 80%;
    flex-grow: 1;
}


.destination-grid {
    margin-left: 20rpx;
    margin-right: 20rpx;
}


.grid-container {
    display: grid;grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding: 30px;
}

.grid-item{
    overflow: hidden;
    position: relative;
}

.grid-item img{
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.grid-item h3 {
    font-size: 1.5vw;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--color-full-white);
    background-color: rgba(0, 0, 0, 0.3);
    font-weight: bold;
    padding: 10rpx 15rpx;
    text-align: center;
    width: auto;
}

.grid-item:hover img {
    transform: scale(1.5);
}