h1{
    padding: 1vw;
    font-size: 2vw;
    text-decoration: underline;
}

.intro-text{

}



.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3vw;
    padding:  4vw 6vw 6vw 6vw;
    margin-left: 3vw;
    margin-right: 3vw;
    white-space: nowrap;

}

.grid-item{
    overflow: hidden;
    position: relative;
    width: 100%;
    height: auto;
    border-radius: 1vw;
}

.grid-item img{
    display: block;
    width: 120%;
    height: auto;
    object-fit: cover;
}

.grid-item h3 {
    font-size: 1.5vw;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--color-light-writing);
    text-shadow: 2px 2px var(--color-dark-writing);
    font-weight: bold;
    padding: 10rpx 15rpx;
    text-align: center;
    width: auto;
}


.flag{
    width: 10%;
    height: auto;
    position: absolute;
    top: 90%;
    left: 10%;
    transform: translate(-50%, -50%);
}

.grid-item:hover > a > img {
    transform: scale(1.1);
}