body{
    margin: 0;
    position: relative;
    min-height: 100vh;
    padding-bottom: 10vw;
}

footer{
    position: absolute;
    bottom: 0;
    background-color: var(--color-bar);
    width: 100%;
    left: 0;
}


.footer-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5vw;
}


.contact {
    font-size: 1.5vw;
    color: var(--color-dark-writing);
}

.socials{
    margin-left: auto;
    display: flex;
    gap: 0.7vw;
}

.twitter-logo, .instagram-logo {
    width: 3vw;
    height: auto;
}

