body{
    position: relative;
    min-height: 100vh;
    padding-bottom: 5vmin;
}

footer{
    position: absolute;
    bottom: 0;
    background-color: var(--color-bar);
    width: 100%;

    font-size: 3vmin;
    color: var(--color-header-active);
}


.footer-container{

    max-width: 80%;
    margin: 2vmin auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}


.footer-contact{
    color: var(--color-header-active);
    text-decoration: none;
    
}

.footer-contact:hover{
    text-decoration: underline;
}

.contact a{
    padding-right: 2vmin;
}


.socials{
    display: flex;
    align-items: center;
    gap: 0.7vmin;
    padding-right: 1.5vmin;
    justify-content: flex-end;
    width : 50%;

}

.twitter-logo, .instagram-logo {
    padding-top: 0.8vmin;
    width: 5%;
    height: auto;
}
img{
    width: 100%;
}