body{
    margin: 0;
    padding-bottom: 20px;
    position: relative;
    min-height: 100vh;
}

footer{
    position: absolute;
    bottom: 0;
    display: flex;
    background-color: var(--color-background);

    width: 100%;
    align-items: center;
    left: 0;
}
.socials{
    display: flex;
    gap: 10px;
    padding-right: 20px;
    margin-left: auto;
}


footer img{
   width: 30px;
   height: 30px;
}


p{
    margin: 10px;
    font-size: 2vw;
}
