
header {
    background-color: var(--color-bar);
}


.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2vw 0 2vw;
}

.header-left {
    font-weight: normal;
    font-size: 1.5vw;
    font-family: 'Courier New', Courier, monospace;
}

.header-slogan {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: var(--color-light-writing);
    font-size: 1vw;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 1.5vw;
    font-size: 1vw;
}

.header-link {
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    color: var(--color-light-writing);
}


.header-user-logo {
    width: 4vw;
    height: auto;
    margin-top: 0.8vw;
}


.header-right a:hover, .header-left a:hover {
    color: var(--color-header-active);
    cursor: pointer;
}

.header-link-active {
    font-family: 'Courier New', Courier, monospace;
    color: var(--color-header-active);
    text-decoration: underline;
}


.header-connect {
    border: 0.08vw solid var(--color-light-writing);
    padding: 0.3vw 0.5vw;
    border-radius: 0.3vw;
}


.header-connect:hover {
    background-color: var(--color-header-active);
    border: 0.08vw solid var(--color-header-active);
    border-radius: 0.3vw;
    color: var(--color-light-writing);
    transform: scale(1.03);
}
