
header {
    overflow: hidden;
    margin: 0;
    
}


.header-container {
    background: var(--color-bar);
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 1.5vmin var(--spacing-sm);
}

.header-left {
    font-weight: normal;
    font-size: 3vmin;
    font-family: 'Courier New', Courier, monospace;
    align-items: center;
    width: 20%;
}


.header-slogan {
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    color: var(--color-light-writing);
    font-size: 3vmin;
    width : 30%;
    text-align : center;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 2vmin;
    font-size: 2.5vmin;
    justify-content: right;
    width : 35%;
}

.header-link {
    font-family: 'Courier New', Courier, monospace;
    color: var(--color-light-writing);
    text-decoration: none;
}

.header-link-active {
    font-family: 'Courier New', Courier, monospace;
    color: var(--color-header-active);
    text-decoration: underline;
}


.header-user-logo {
    width: 5vmin;
    height: auto;
    margin-top: 0.9vmin;
}




.header-user-logo:hover{
    filter: brightness(0.8);
}


.header-right a:hover, .header-left a:hover {
    color: var(--color-header-active);
    cursor: pointer;
}




.header-connect {
    border: 0.2vmin solid var(--color-light-writing);
    padding: 0.3vmin 0.5vmin;
    border-radius: 1vmin;
    text-wrap: nowrap;
}


.header-connect:hover {
    background-color: var(--color-header-active);
    border: 0.2vmin solid var(--color-header-active);
    color: var(--color-light-writing);
    transform: scale(1.03);
}


.header-right div {
    position: relative;
}


.header-jet-icon {
    width: 10vmin;
    height: auto;
    position: absolute;
    bottom: -4.8vmin;
    left: -5vmin;
    transition: transform 0.15s ease-in-out 0.1s;
    will-change: transform;
    pointer-events: none;
}

.header-voir-voyage-text{
    text-wrap: nowrap;

}


.header-voir-voyage-text:hover + .header-jet-icon {
    transform: translateX(22vmin) translateY(1.1vmin);
}


.header-right a:hover {
    color: var(--color-header-active);
    cursor: pointer;
}




