

header, main, footer {
    opacity: 0;
    transform: translateY(20px);
    animation: slideIn 1s ease-in-out forwards;
}

.video-background{
    position: fixed;
    object-fit: cover;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: -1;
}


.video-background iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 120%;
    height: 120%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}


.italic-text {
    font-style: italic;
}


.search-bar-container{
    /*background-image: url('../image/airplane-banner.png');*/
    background-size: cover;
    background-position: 100% 40%;
    padding: var(--spacing-md);
    padding-bottom: 28vw;
}


.search-bar input{
    background-color: rgba(50, 50, 50, 0.4);
    color: var(--color-light-writing);
    border: 1px solid #555555;
    font-size: 1.5vw;
}

.search-bar{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5vw;
}


.search-bar-title{
    font-size: 2vw;
    color: var(--color-light-writing);
    padding: 0 1vw;
    margin-bottom: 1vw;
}



.search-bar input{
    width: 50vw;
    height: 2vw;
    font-size: 1.2vw;
    padding: 0.5vw 1vw;
    outline: none;
}



.carousel-title{
    font-size: 2vw;

}


.carousel-container {
    padding: var(--spacing-sm) var(--spacing-md);
    width: 100%;
    background: var(--color-background-2);
}



.carousel-content {
    padding-bottom: 1vw;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    justify-content: center;
    scroll-snap-type: x mandatory;
    white-space: nowrap;
}

.grid-container {
    display: flex;
    gap: 1vw;
}

.grid-item {
    position: relative;
    width: 20%;
    height: auto;
    flex: 0 0 auto;
    overflow: hidden;
    border-radius: 1vw;
    scroll-snap-align: center;
    transition: transform 0.3s ease-in-out;
}


.grid-item img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.grid-item h3 {
    font-size: 1.3vw;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--color-light-writing);
    text-shadow: 2px 2px var(--color-dark-writing);
    font-weight: bold;
    text-align: center;
    width: auto;
    padding: 10px;
    border-radius: 5px;
}


.flag {
    width: 15%;
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.grid-item:hover > a > img {
    transform: scale(1.1);
}



.trading-container {
    padding: var(--spacing-sm) var(--spacing-md);
    background: var(--color-bar);
}



.trading-content{
    display: flex;
    gap: 10vw;
    justify-content: center;
}


.trading-image{
    width: 25vw;
    height: 20vw;
}


.trading-text{
    color: var(--color-light-writing)
}


.random-text{
    padding: var(--spacing-sm) var(--spacing-md);
}



.map-container{
    background: var(--color-background-2);
    padding: var(--spacing-sm) var(--spacing-sm);
}


.map-content{
    position: relative;
    align-items: center;
}


.map-image{
    width: 100%;
    height: auto;
    border-radius: 3vw;
}

.ping-container{
    position: relative;
}

.ping{
    position: absolute;
    width: 0.5vw;
    height: 0.5vw;
    background: red;
    border-radius: 50%;
    font-size: 0.5vw;
    white-space: nowrap;
}


.ping-text{
    font-size: 1vw;
    position: relative;
    transform: translate(95%, -90%);
}




.map-text{
    font-size: 2vw;
    font-family: Poppins;
    color: var(--color-map);
}