
header, main, footer {
    opacity: 0;
    transform: translateY(20px);
    animation: slideIn 1s ease-in-out forwards;
}


.video-background {
    position: fixed;
    object-fit: cover;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: -1;
}


.video-background video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -55%);
    pointer-events: none;
}



.search-bar-container {
    background-size: cover;
    background-position: 100% 40%;
    padding: var(--spacing-md);
    padding-bottom: 38rem;
}




.search-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    
}


.search-bar-title {
    font-size: 2.3rem;
    color: var(--color-light-writing);
    text-shadow: 1px 1px var(--color-dark-writing);
    padding: 0 1vw;
    margin-bottom: 1vw;
}



.search-bar input {
    width: 90%;
    max-width: 50rem;
    background-color: rgba(50, 50, 50, 0.4);
    color: var(--color-light-writing);
    border: 1px solid #555555;
    height: 2rem;
    font-size: 1.2rem;
    padding: 0.5vw 1vw;
    outline: none;
    border-radius: 1.1rem;
}


.carousel-title {

    font-style: italic;
    margin-bottom: 0.8rem;
    font-size: 2rem;
}


.carousel-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: var(--spacing-sm) var(--spacing-sm);
    background: var(--color-background-2);
}


.carousel-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.grid-container {
    display: flex;
    justify-content: center;
    gap: 2rem;
}


.grid-item {
    position: relative;
    width: 20%;
    height: auto;
    flex: 0 0 auto;
    overflow: hidden;
    border-radius: 1rem;
    scroll-snap-align: center;
    transition: transform 0.3s ease-in-out;
}


.grid-item img {
    display: block;
    width: 100%;
    max-width: 30rem;
    height: 100%;
    object-fit: cover;
}


.grid-item h3 {
    font-size: 1.5rem;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--color-light-writing);
    text-shadow: 2px 2px var(--color-dark-writing);
    font-weight: bold;
    text-align: center;

}


.flag {
    width: 20%;
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.grid-item:hover > a > img {
    transform: scale(1.1);
}


.trading-container {
    padding: var(--spacing-sm) var(--spacing-md);
    background: var(--color-bar);
}


.trading-content {
    display: flex;
    gap: 10rem;
    width: 100%;
    max-width: 100rem;
    margin: auto;
    justify-content: center;
    align-items: center;
}


.trading-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.trading-image {
    width: 25rem;
    height: 20rem;
}


.trading-text {
    color: var(--color-light-writing);
    font-size: 2rem;
    justify-content: center;
    text-align: center;
    text-align-last: center;
}


.texte {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    padding: var(--spacing-sm) var(--spacing-lg);
    text-align-last: center;
    text-align: center;
    justify-content: center;
    align-items: center;
}


.texte p:nth-of-type(3) {
    color: var(--color-header-active);
}


.map-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--color-background-2);
    padding: var(--spacing-md) var(--spacing-md) var(--spacing-sm);
}

.map-container h1 {
    font-size: 3rem;
    text-decoration: underline;
}


.map-image {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 95rem;
    height: auto;
    border-radius: 1rem;
}


.ping-container {
    position: relative;
}


.ping {
    position: absolute;
    width: 1rem;
    height: 1rem;
    background: var(--color-map-red);
    border-radius: 50%;
    font-size: 0.2rem;
    white-space: nowrap;
    text-decoration: none;
}


.ping:hover .ping-text {
    color: var(--color-map-grey);
}

.ping:hover {
    background: var(--color-header-active);
}


.ping-text {
    font-size: 1.1rem;
    position: relative;
    color: var(--color-light-writing);
    transform: translateX(1.1rem) translateY(-1.5rem);
    text-decoration: none;
}

a {
    color: var(--color-light-writing);
    text-decoration: none;
}


