table{
    margin: 5% auto ;
    width: 40vw;
    text-align: center;
    font-family: 'Inter', sans-serif;
    border: var(--color-background-2) 1px solid;
    border-radius: 1.5vw;
    background-color: var(--color-background-2);;
    color: var(--color-dark-writing);
}




label{
    width: 30%;
}
input{
    width: 70%;
}
table label:hover{
    cursor:text;
}

table input:hover{
    cursor: text;

}

table input{
    width: 90%;
    height: 1.5vw;
    border: var(--color-background-2) 0.1vw solid;
    border-radius: 20vw;
    padding-left: 2vw;
    padding-right: 2vw;
    text-align: center;
}


table button{
    margin: 0 5% 0 5%;
    width: 20%;
    letter-spacing: 0.3vw;
    text-align: center;
    border-radius: 20vw;
    background-color: var(--color-light-writing);
    border: black solid 1px;
}

table button:hover[type="submit"]{
    cursor: pointer;
    background-color: var(--color-submit);
    border-radius: 2vw;
}
button:active{
    transform: scale(0.9);
}

table button:hover[type="reset"]{
    cursor: pointer;
    background-color: var(--color-reset);
    border-radius: 2vw;
}


table td, table tr, table th{
    padding: 1.8vw 1vw 1.8vw 1vw;
}

td{
    border-top: white 1px solid;
}

form a{
    color: var(--color-header-active);
    text-decoration: none;
}
