


:root {
    --color-title-blue: #111827;
    --color-full-white: #f6f6f6;
    --color-bar: #255C69;
    --color-background: #D6F7FF;
    --color-dark-writing: #00161B;
    --color-light-writing: white;
    --color-jaimebien: #02CFFF;
    --font-size-p: 1vw;
}


body {
    font-family: Arial Rounded MT Bold, Helvetica Rounded, Arial, sans-serif;
    line-height: 1.6;
    background-color: var(--color-background);
}