@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');


:root {
    --color-title-blue: #111827;
    --color-full-white: #f6f6f6;
    --color-bar: #041522;
    --color-background: #FAF9F6;
    --color-dark-writing: #041522;
    --color-light-writing: white;
    --color-background-2: #d6f1fc;
    --color-title: #D4AF37;
    --color-button: #046A38;
    --color-header-active: #5cb8ec;
    --color-reset: #ed825f;
    --color-submit: #5cb8ec;
    --color-map: #2a29cd;
    --font-size-p: 1vw;
    --font-style:normal;
    --spacing-sm: 5vw;
    --spacing-md: 10vw;
    --spacing-lg: 20vw;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Poppins;
    font-size: 1vw;
    line-height: 1.6;
    background-color: var(--color-background);
    color: var(--color-dark-writing);
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

