.container-liste {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;

}
.container{
    background-color: var(--color-background-2);
    text-align: center;
    margin: 1rem;
    padding: 1rem;
    border-radius: 1rem;
}

h1{
    text-align: center;
}

.title{
    display: flex;
    background-color: var(--color-background-1);
    justify-content: center;

}
.title h2,
.title p{
    display: flex;
    background-color: var(--color-background-1);
    font-size: 1.5rem;
    margin : 0.5rem;

}
ul{
    list-style-type: none;
    padding: 0;
}
.voyage-image{
    width : 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top : 2rem;
    border-radius: 1rem;
}
.column{
    height: 100%;
    background: var(--color-header-active-lighter);
    border-radius: 1rem;
    width: 80%;
}