
h1{
    text-align: center;
    color: var(--color-header-active);
}

.main-img{
    display: block;
    max-width: 40%;
    margin: 2rem auto;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin : 3rem;
    background-color: var(--color-background-2);
    border-radius: 1rem;
    padding: 2rem;
}




.reservation-slider-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 2rem;

}


.reservation-checkbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}




.reservation-select {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}


.button-container {
    justify-content: center;
    align-items: center;
    text-align: center;
}

button {
    color: var(--color-dark-writing);
    text-align: center;
    font-size: 1.5rem;
    border-radius: 1rem 0.1rem;
    background-color: var(--color-light-writing);
    padding: 0.4rem 0.8rem;
    border: 0.1rem var(--color-dark-writing) solid;
    cursor: pointer;
}


button:hover[type="submit"] {
    background-color: var(--color-submit);
    border: 0.1rem var(--color-submit) solid;

}


button:active {
    transform: scale(0.9);
}


h5 {
    color: var(--color-header-active);
    font-size: 1.5rem;
    font-weight: bold;
}

h6{
    color: var(--color-map-grey);
    font-size: 1.3rem;
    font-weight: bold;
    border-radius: 1.5rem;
    border: 2px solid white;
    padding : 0 0.5rem;
    background-color : var(--color-background);
}

.modifier-button{
    font-size: 1.3rem;
    text-decoration: none;
    padding: 0.3rem 0.5rem;
    color: var(--color-light-writing);
    background: var(--color-header-active);
    border-radius: 0.8rem;
}






