
h1{
    margin-top: 5vw;
    font-size: 3.5vw;
    font-weight: bold;
}


.compte-info-container{
    display: grid;
    grid-template-columns: 1fr;
    font-size: 1.5vw;
}

.utilisateur{
    background: var(--color-background-2);
    padding: 0 1vw 1vw 1vw;
    margin-top: 2vw;
    border-radius: 2vw;
}

