h1{
    font-size: 3vw;
    font-weight: bold;
    text-align: center;
}


.compte-info-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 1.5vw;
    width: 70%;
    margin-left: 25%;
    text-align: center;
}


.utilisateur{
    background: var(--color-background-2);
    border-radius: 2vw;
    margin: 7vw 25vw;
    padding: 4vw 0;
}


button{
    background: var(--color-light-writing);
    width: 10%;
    border: solid var(--color-light-writing) 0.1vw;
    border-radius: 2vw;
}
button:active{
    background: var(--color-light-writing);
    width: 10%;
    border: solid var(--color-light-writing) 0.1vw;
    border-radius: 2vw;
    transform: scale(0.9);
}

main div button img{
    width: 100%;
    
}
